.notice-message {
    font-size: 1rem;
    color: #FFF;
    padding: 0.5rem;
    margin: 0;
    background-color: rgba(197, 105, 0, 0.849);
    text-align: center;
    border-top: 0.1rem solid rgba(116, 62, 0, 0.849);
    border-bottom: 0.1rem solid rgba(116, 62, 0, 0.849);
}

.success-message {
    font-size: 1rem;
    color: #FFF;
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    background-color: rgba(11, 136, 0, 0.925);
    text-align: center;
}