#login-header-text {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
  margin-top: 0;
}
#login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}
#logo {
  width: 60vw;
  margin-bottom: 15vh;
}
.vertical-center {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#cf8719, #A10000, #A10000, #A10000);
}
.horizontal-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.login-inputs {
  width: 100%;
}
.login-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login-buttons > ion-button {
  width: 7rem;
  --background: #9c1515;
}
.item {
  --background: none;
  width: 100%;
  margin-bottom: 0.75rem;
}
.login-box {
  width: 100%;
  padding: 1.5rem;
  background-color: #ffe4e4;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}

// dark mode
@media (prefers-color-scheme: dark) {
  .login-box {
    background-color: #202020;
  }
}