.top-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background: none;
    padding-bottom: 1rem;
    width: 100%;
}

.align-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.align-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
ion-button {
    --background: #be1515;
    --background-hover: #be1515;
    --background-activated: rgb(116, 29, 29);
    --background-focused: #be1515;
    --color: #FFF;
}
ion-button::part(native) {
    border-radius: 50%;
    height: 3rem;
    padding: 0.5rem;
    margin: 0;
    aspect-ratio: 1 / 1;
}