:root {
    --ion-color-primary: #FC2A2A;
    --ion-color-primary-rgb: 252, 42, 42;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #a01111;
    --ion-color-primary-tint: #ff4d4d;
}