<ion-header>
  <ion-toolbar>
    <ion-title>Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Session Auto-Resume</ion-label>
      <ion-toggle
        slot="end"
        [(ngModel)]="isRememberLogin"
        (ionChange)="toggleRememberLogin($event)"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" id="go-back">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
