<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" id="go-back">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="notice-message">You are creating a new report.</div>
</ion-header>
<ion-content>
  <div class="document-title">Rapid Damage Assessment Form</div>
  <div class="top-bottom">
    <div class="section-container">
      <div class="section-title">Attachments</div>
      <div class="attachment-control">
        <div *ngIf="attachmentUrlMap != undefined" class="attachment-list">
          <ion-card *ngFor="let attachment of attachments">
            <ion-card-header>
              <ion-card-title>{{ attachment }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img [src]="attachmentUrlMap[attachment]" alt="" />
            </ion-card-content>
          </ion-card>
        </div>
        <ion-button (click)="addAttachmentImage()">Upload Image</ion-button>
        <ion-button disabled>Upload Video</ion-button>
      </div>
    </div>
    <div class="page-hint">Page 5 of 5</div>
    <div class="button-group">
      <ion-button class="button" (click)="goNext()">Next</ion-button>
    </div>
  </div>
</ion-content>
