<ion-header>
  <div class="notice-message">You are creating a new report.</div>
</ion-header>
<ion-content>
  <div class="document-title">Rapid Damage Assessment Form</div>
  <div class="top-bottom">
    <div class="section-container">
      <div class="section-title">Attachments</div>
      <div class="attachment-control">
        <div class="attachment-list">
          <div class="attachment-item"></div>
        </div>
        <ion-button>Upload Attachment</ion-button>
      </div>
    </div>
    <div class="page-hint">Page 5 of 5</div>
    <div class="button-group">
      <ion-button class="button" (click)="goNext()">Next</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="warning-message">Attachments are not yet implemented.</div>
  <ion-toolbar>
    <ion-buttons slot="start" id="go-back">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
