.ok-color {
    color: #59ec46;
}
.minor-color {
    color: #a9ac00;
}
.moderate-color {
    color: #f18241;
}
.severe-color {
    color: #f14141;
}

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        ion-spinner {
            margin-right: 0.75rem;
            padding-bottom: 0.1rem;
        }
    }
}

.report-item {
    margin-bottom: 0;
}